.preview--vec {
  position: relative;
}

#vec__canvas {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  &:hover + #vec__debug-canvas {
    opacity: 1;
  }
}

#vec__debug-canvas {
  @include transition-to-all;
  background-color: #ffffff9e;
  border-radius: 50%;
  box-shadow: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
