.preview--vec {
  position: relative;
}

#vec__canvas {
  background-color: hsla(0, 0%, 100%, 0);
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, .5));
  &:hover + #vec__debug-canvas {
    opacity: 1;
  }
}

#vec__debug-canvas {
  @include transition-to-all;
  background-color: hsla(0, 0%, 100%, 0);
  border-radius: 50%;
  box-shadow: none;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, .75));
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
