.blueprint {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: white;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    border-color: #fff8;
    border-style: dashed;
    border-width: 1px;
    pointer-events: none;
  }
  &::before {
    border-bottom: none;
    border-top: none;
    bottom: -1.25rem;
    left: -1px;
    top: -1.25rem;
    width: 100%;
  }
  &::after {
    border-left: none;
    border-right: none;
    height: 100%;
    left: -1.25rem;
    right: -1.25rem;
    top: -1px;
  }
}
