$bg-a: hsl(0, 0%, 100%); // background
$color-a: hsl(0, 0%, 6%); // main color
$color-b: hsl(0, 0%, 45%); // secondary color
$color-c: hsla(0, 0%, 0%, 0.13); // shadow
$color-d: hsl(0, 0%, 92%); // border
/* $bg-a: hsl(0, 0%, 0%);
$color-a: hsl(0, 0%, 88%);
$color-b: hsl(0, 0%, 51%);
$color-c: hsl(0, 0%, 12%);
$color-d: hsl(0, 0%, 10%); */
$font-size--normal: 16px; // 1em
$font-size--small: 12px; // 0.75em
$font-size--extra-small: 10px; // 0.625em
$card-shadow: 0 1px 3px $color-c, 0 1px 2px $color-c;
$card-radius: 4px;

@keyframes text-appear-keyframe {
  from {
    color: $bg-a;
  }
}

@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 899px) {
}
@media screen and (max-width: 649px) {
}
