$bg: #ffffff;

$color-a: hsl(212, 6%, 15%);
$color-b: hsla(0, 0%, 0%, 0.55);
$color-c: hsla(0, 0%, 0%, 0.09);
$color-blue--extra-light: hsl(212, 85%, 93%);
$color-blue--light: hsl(212, 85%, 71%);
$color-blue--normal: hsl(212, 85%, 51%);
$color-blue--dark: hsl(212, 85%, 31%);
$color-green--light: hsl(172, 84%, 75%);
$color-green--normal: hsl(172, 85%, 50%);
$color-green--dark: hsl(172, 85%, 25%);
$color-red--light: hsl(252, 84%, 75%);
$color-red--normal: hsl(252, 85%, 50%);
$color-red--dark: hsl(252, 86%, 25%);

$font-size--h1: 32px; // 2em
$font-size--h2: 24px; // 1.5em
$font-size--h3: 20px; // 1.25em
$font-size--h4: 16px; // 1em
$font-size--h5: 14px; // 0.875em
$font-size--h6: 12px; // 0.75em
$font-size--normal: 16px; // 1em
$font-size--small: 12px; // 0.75em
$font-size--extra-small: 10px; // 0.625em

/* @keyframes portfolio-appear {
  from {
    box-shadow: 0px 0 $bg inset, 0px 0 $bg inset, 0px 0 $bg, 0px 0 $bg;
  }
} */

@keyframes text-appear-keyframe {
  from {
    color: $bg;
  }
}

@mixin text-appear-mixin($duration, $timing-function) {
  animation: text-appear-keyframe $duration 1 $timing-function;
}
