@font-face {
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=u-4n0q2lgwslOqpF_6gQ8kELawRpWtVqrNnIHluuKrJdvLvoP4C38VLfPc2VPtaBl2bip2KoUiFMVDW5aL-eLfmLKi3pHncMjQ-ZRUi2huN8nBhAxwRi_trevjsGcaAK3ddtemUYOfxzxWrB-rCF2xfDwwnfTZ9t3wGj0fGO-LPR_YBJ4snzRlUYWZYF8kDMDprRKI17iDF6_nL4JUfSY5dCBzX8y2gctus480SbVa2NhuOdyBPeYZNwyxxAqww_64_ogRT_7U8Uoo1jH8rSaD4CBSzFxQDjxCNAtdHOUajJKLg8VNoMGZckVilOOzgg5OjxYekUkYHohhALpDl7nHPNnk6b0-8KNq6q9ddr6FQp_n-mFPxi4bv4pBpPvKlBjeMeZmGMhl2L02Uw0Wc&skey=bd88f0a6edeea7b7&v=v2) format("woff2");
}
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=u-450q2lgwslOqpF_6gQ8kELWwN7yuXfj9rPFVStL7RfvqX2PYKx91DdM8OXO9KC6RjgpWSuUCNCWje7brmcL-eVKC_vGHUOgwGbfXC0gOV-nhZOxQZk-NjcoCUEc6YM39VjdGej4vx7xXzAxLCH2xDDzgndTZlt3QG90fOO_rPS_YxJ5MnyRmkYW5YC8k3MDJrXKI97ljF4_nT4JkfeY5FCBjX-zFEct-sX80WbRa2Oh9qdzxPOYZJwxBxBqz8_6o_5gRX_7k05ooJjM8rTYwoCByzO6DCknT0G7M6BCL6Hca9tDdJcQJ57Dy8QYj5NvN2dOd17ybaG3iZ-_BQPxF-Uxk_Di-9Xbqv2rdAIs2xLpUbDT8IGuoSV_ywj55431s5DPWfQ3VvSiWZo&skey=e017e80d5b8c8838&v=v2) format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4OWbXbzf_CH9vCLXHAS0bUl8-vPY3gkAfAVCMM2EaCOzzPdPNo67ZtA5Pfy9fZIxDsJdgjH-mYCj8EB4RB7rOdcLa1y9IL7Cqy03xNcbK7HgU-5suBY7nNOklHW-SeroBb8da8bC6kUw9DbfGzW-pvGjyXbObsP_7geDkjzTLJ0Hq0cC29eXol8TqHNwbdn_3JRZ6DGsAr_eewDD_g8VrFdSkAQNjvuHT-F6n9rj13f10gyXXnFCm71D_vCAk6BkTtXs0ssGnWJqGKHn3rB7tZ5Mzq2fYZSod0wUn72wq28LFgKKt3OS3mIpWktkzx5s4R-OQmCdEAg_ORWSpVhMHnvS89K6wwPKzFvqANd_uEjLokJtP2MQivrg7g&skey=a9ad6a4717e923f0&v=v13) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmSU5vBgWoKOHTtq5mUlCYLHcwUwXqadI5GH6rkTXiqGNmni11lz4xqo-JD7umDm50YJrWhMNIxFfeVSnzzB10hmN-ag2B9POB27MqW4hDHFWudumxj40caj4FYyGZoG8mR9nyFsM8nOw_-MAiDf3QEOIIEitvmg8uVgAMk52p-FDr9sjP0fsp2DBydmUyPr69pzlAvXdk5aykAAayEdRrBRSl5zUmi5m9kzQW6BuBDXt2bqkaHbuCHl0bSlk5OnlBwFf1BrvD3zfJMzUB_6pWCuY9iRLxzzuNgAYsDR5N3THqH-OBa6NTzSUzQa-MQs_2vXdWOy6sZmqa9MAIciCaqz9CK9KSzxYlCHDVAtnQe0TDl_JtLa1aVdy2OFg&skey=11ce8ad5f54705ca&v=v27) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Me4H7aARccCefavKNiVlWbMWgtUADtbNE0F3OvljCe1x5lmypwlDM-p4yMCL6lE3FpY5_RgcBFy1rnbhD2yxh3i2xzaQiG8fCcxK4pXo9GH1ihe1NpN-Z_F1RGH2Hb5y9sAJG4WItw0r5zqJJ0XaiGSbdXS3Uw-FFONGds-frBkj6Dmqa9vYtbrkAHABxHQcfD2EU5-Awnp8DnbWrPfKoXQmvkoWRn28jiw2pJhUXtYAYaEtRlY-n_QQ1oFStBfAAOjROXcpXD3zbJMzwB_6tWCvk9iRPxzzSNgAcsDC1N3TDqH-CBa6JTzT4zQa6MQuL2vXZWOyusZmua9_8IciGaqzhCK9OSzx8lCHHVAsPQe2_Dl_NtLKhaVd0&skey=a0a0114a1dcab3ac&v=v27) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmEU9vBgWoKOHTtq5mUlCYLHcwUwXqadI5GH6rkTXiqGNmni11lz4xqo-JD7umDm50YJrWhMNIxFfeVSnzzB10hmN-ag2B9POB27MqW4hDHFWudumxj40caj4FYyGZoG8mR9nyFsM8nOw_-MAiDf3QEOIIEitvmg8uVgAMk52p-FDr9sjP0fsp2DBydmUyPr69pzlAvXdk5aykAAayEdRrBRSl5zUmi5m9kzQW6BuBDXt2bqkaHbuCHl0bSlk5OnlBwFf1BrvD3zfJMzUB_6pWCuY9iRLxzzuNgAYsDR5N3THqH-OBa6NTzSUzQa-MQs_2vXdWOy6sZmqa9MAIciCaqz9CK9KSzxYlCHDVAtnQe0TDl_JtLa1aVdy2OFg&skey=ee881451c540fdec&v=v27) format("woff2");
}
:root {
  color-scheme: light;
  --bg: #c2e9ff;
  --bg--em: #ffffff;
  --bg--active: #f0f0f0;
  --color: #0d0d0d;
  --color--em: #697579;
  --color--anchor: #224aff;
  --color--border: #0002;
  --color--shadow: #0001;
}

.dark {
  color-scheme: dark;
  --bg: #101819;
  --bg--em: #104134;
  --bg--active: #0e392d;
  --color: #f5f5f5;
  --color--em: #90a9a3;
  --color--anchor: #ffff10;
  --color--border: #0003;
  --color--shadow: #0002;
}

@keyframes fade-opacity {
  from {
    opacity: 0;
  }
}
.text--small {
  font-size: 0.875rem;
}

.text--extra-small {
  font-size: 0.75rem;
}

.icon__label {
  cursor: pointer;
}
.icon__label:hover > .icon > svg, .icon__label:active > .icon > svg {
  fill: var(--color);
}

.icon {
  display: flex;
  user-select: none;
}
.icon--21 {
  height: 21px;
  width: 21px;
}
.icon--24 {
  height: 24px;
  width: 24px;
}
.icon > svg {
  fill: var(--color--em);
  height: 100%;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  box-sizing: border-box;
}

#root {
  animation-duration: 400ms;
  animation-name: fade-opacity;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  justify-content: center;
  position: relative;
}
@media (prefers-reduced-motion: reduce) {
  #root {
    animation-duration: 0ms;
  }
}

a {
  color: var(--color--anchor);
  text-decoration-color: var(--color--anchor);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  color: var(--color);
  background-color: var(--bg);
}

em {
  font-style: italic;
  color: var(--color--em);
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  display: flex;
}
h1 > a {
  color: inherit !important;
  text-decoration: none !important;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}

h3, .connect__data h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

h4 {
  font-size: inherit;
  font-weight: 500;
}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
}
html.dark {
  font-weight: 300;
}

p {
  margin-bottom: 1em;
  max-width: 58ch;
}
* > p:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: 500;
}

ul {
  margin-bottom: 1em;
  padding-left: 3ch;
}
* > ul:last-child {
  margin-bottom: 0;
}

.portfolio {
  max-width: 960px;
  padding: 0 4rem;
}
@media screen and (max-width: 959px) {
  .portfolio {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 639px) {
  .portfolio {
    padding: 0 1rem;
  }
}

.portfolio__elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  padding-top: 4rem;
}
.portfolio__elem:first-of-type {
  margin-top: 8rem;
}
.portfolio__elem:last-of-type {
  margin-bottom: 12rem;
}
@media screen and (max-width: 959px) {
  .portfolio__elem {
    margin-bottom: 3rem;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 639px) {
  .portfolio__elem {
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
}

/* .tools__plant {
  @include relief-card;
  align-self: center;
  border-radius: 50%;
  margin-bottom: 0;
  margin-top: 1rem;
  cursor: default;
  font-size: $font-size--big;
  height: 3em;
  width: 3em;
} */
.tools__groups {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tools__group {
  color: var(--color);
  background-color: var(--bg--em);
  border-radius: 4px;
  padding: 1rem;
  color: var(--color--em);
  max-height: min-content;
}
.tools__group--core {
  color: var(--color);
  background-color: var(--bg--em);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 1px 3px 1px var(--color--shadow), 0 2px 2px var(--color--shadow);
  color: var(--color);
}
.tools__group h3, .tools__group .connect__data h2, .connect__data .tools__group h2 {
  color: var(--color);
}
.tools__group .tools__sub-groups {
  display: flex;
  gap: 1rem;
}
.tools__group .tools__sub-groups > ul {
  padding-left: 0;
  margin-bottom: 0;
}
.tools__group .tools__sub-groups > ul:not(:first-child) {
  border-left: 1px solid var(--color--border);
  padding-left: 1rem;
}

.tools__item {
  color: inherit;
  list-style: none;
}

.show-hide__input:checked + .show-hide__label .icon {
  transform: rotateZ(-180deg) translateY(-1px);
}
.show-hide__input:checked ~ .show-hide__content {
  display: block;
}

.show-hide__label {
  padding: 0.25rem;
  width: fit-content;
  border-radius: 50%;
  cursor: pointer;
}
.show-hide__label:hover {
  background-color: var(--bg--active);
}

.show-hide__label .icon {
  transition-duration: 70ms;
  transition-property: transform;
  transform: rotateZ(-90deg) translateY(-1px);
}
@media (prefers-reduced-motion: reduce) {
  .show-hide__label .icon {
    transition-duration: 0ms;
  }
}

.show-hide__content {
  display: none;
}

.projects__container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.portfolio__project {
  color: var(--color);
  background-color: var(--bg--em);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 1px 3px 1px var(--color--shadow), 0 2px 2px var(--color--shadow);
  color: var(--color--em);
  display: grid;
  min-width: 100%;
  grid-template-areas: "prev prev" "header show-hide" "about show-hide" "details details";
  grid-template-columns: auto min-content;
}
.portfolio__project > .show-hide__label {
  align-self: flex-end;
  justify-self: right;
  grid-area: show-hide;
}
.portfolio__project > .show-hide__content {
  grid-area: details;
}

.project__header {
  grid-area: header;
  width: fit-content;
}

.project__title {
  margin-bottom: 0rem;
  margin-right: auto;
}
.project__title > a {
  color: var(--color);
  font: inherit;
  display: flex;
  align-items: center;
}
.project__title > a:hover {
  text-decoration: none;
}
.project__title > a .icon {
  margin-left: 0.5ch;
}
.project__title > a .icon svg {
  fill: currentColor;
}

.project__about {
  grid-area: about;
  margin-bottom: 0;
}

.project__details {
  border-top: 1px solid var(--color--border);
  grid-area: details;
  margin-top: calc(1rem + 2px);
  padding-top: 1rem;
}
.project__details > h4 {
  color: var(--color);
}

.project__details > footer {
  border-top: 1px solid var(--color--border);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.project__link-container::after {
  content: ", ";
}
.project__link-container:last-of-type::after {
  content: "";
}

.portfolio__cv {
  max-width: 60ch;
}

.cv__preview {
  color: var(--color--em);
  background-color: var(--bg--em);
  border-radius: 4px;
  font-family: "Courier Prime", monospace;
  letter-spacing: -0.15px;
  font-size: 13px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem 1rem;
}
.cv__preview > h3, .connect__data .cv__preview > h2 {
  font-size: inherit;
  margin-bottom: 1em;
}
.cv__preview > h3, .connect__data .cv__preview > h2, .cv__preview > h4 {
  font-weight: 400;
  color: #6161ff;
}
.cv__preview > h3 > span, .connect__data .cv__preview > h2 > span, .cv__preview > h4 > span {
  color: var(--color--em);
}
.cv__preview > p {
  max-width: 100%;
}
.cv__preview > p > strong {
  color: black;
}
.cv__preview > p > em {
  color: #008a00;
}
.dark .cv__preview {
  background-color: #080c0d;
}
.dark .cv__preview > h3, .dark .connect__data .cv__preview > h2, .connect__data .dark .cv__preview > h2, .dark .cv__preview > h4 {
  color: #8f8fff;
}
.dark .cv__preview > p > strong {
  color: white;
}
.dark .cv__preview > p > em {
  color: #40d240;
}

.cv__header {
  position: relative;
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}

.cv__buttons {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  width: fit-content;
  padding-bottom: 2px;
}
.cv__buttons span, .cv__buttons::before, .cv__buttons::after {
  border-radius: 0.3rem;
  content: "";
  flex-shrink: 0;
  height: 9px;
  width: 9px;
}
.cv__buttons span {
  background-color: #fff34d;
}
.cv__buttons::before {
  background-color: #4dff4d;
}
.cv__buttons::after {
  background-color: #ff4d4d;
}
.cv__buttons .dark span {
  background-color: #d9cd26;
}
.dark .cv__buttons::before {
  background-color: #26d926;
}
.dark .cv__buttons::after {
  background-color: #d92626;
}

.cv__blinking-cursor::before {
  animation: cursor-blink 1.25s infinite linear;
  opacity: 1;
  content: "";
  width: 1px;
  height: 17px;
  display: flex;
  background-color: var(--color--em);
}

@keyframes cursor-blink {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.connect__card {
  color: var(--color);
  background-color: var(--bg--em);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 1px 3px 1px var(--color--shadow), 0 2px 2px var(--color--shadow);
  padding-left: 0.5rem;
  display: flex;
  gap: 2rem;
  width: fit-content;
}

.connect__data {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.connect__data > li {
  list-style: none;
}
.connect__data li {
  margin-left: 0.5rem;
}
.connect__data li.data__email {
  margin-left: 0;
}

.email-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 4px;
  border: none;
  background-color: inherit;
  display: flex;
  cursor: copy;
  padding: 0 0.25rem 0 0.5rem;
  gap: 0.5ch;
}
.email-button:hover {
  background-color: var(--color--shadow);
}
.email-button .icon {
  padding-left: 2px;
}

.connect__pic {
  display: flex;
}
.connect__pic img {
  aspect-ratio: 90/132;
  border-radius: 4px;
}

@media screen and (min-width: 960px) {
  .aside {
    padding-right: 3rem;
  }
}
@media screen and (max-width: 639px) {
  .aside {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
  }
  .aside[isvisible=true] .aside__close {
    pointer-events: all;
  }
  .aside[isvisible=true] .sticky__slide {
    box-shadow: -2px 0 2px var(--color--shadow), -2px 0 6px 1px var(--color--shadow);
    transform: translateX(0%);
  }
}

.aside__close {
  background-color: transparent;
  height: 100vh;
  user-select: none;
  pointer-events: none;
  position: fixed;
  width: 100vw;
}

.aside__sticky {
  display: flex;
  overflow-x: hidden;
  position: sticky;
  height: 100vh;
  right: 0;
  top: 0;
}

.sticky__slide {
  transition-duration: 140ms;
  background-color: var(--bg--em);
  color: var(--color--em);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: auto;
  pointer-events: all;
  transition-property: transform;
  width: max-content;
}
@media (prefers-reduced-motion: reduce) {
  .sticky__slide {
    transition-duration: 0ms;
  }
}
@media screen and (max-width: 639px) {
  .sticky__slide {
    transform: translateX(100%);
  }
}

.aside__button {
  color: var(--color);
  background-color: var(--bg--em);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 6px 1px var(--color--shadow), 0 2px 2px var(--color--shadow);
  border: none;
  bottom: 2rem;
  display: none;
  padding: 0.75rem;
  pointer-events: all;
  position: fixed;
  right: 2rem;
  width: fit-content;
}
@media screen and (max-width: 639px) {
  .aside__button {
    display: flex;
  }
}

.settings {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.color-scheme-switch__input {
  display: none;
}

.color-scheme-switch__label {
  color: var(--color);
  background-color: var(--bg--em);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 1px 3px 1px var(--color--shadow), 0 2px 2px var(--color--shadow);
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  height: 28px;
  padding: 8px;
  width: 46px;
  /* .dark & {
  } */
}
.color-scheme-switch__label:hover {
  /* .dark & {
  } */
}
.color-scheme-switch__label:hover > .color-scheme-switch__moon-sun {
  background-color: var(--color);
  /* &::after {
    background-color: var(--bg--active);
  } */
}
.color-scheme-switch__label:hover > .color-scheme-switch__moon-sun::before {
  background-color: var(--color);
}

.color-scheme-switch__moon-sun {
  transition-duration: 140ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: var(--color--em);
  display: flex;
  flex-shrink: 0;
  height: 12px;
  margin: 0 0 0 17px;
  place-content: center;
  position: relative;
  width: 12px;
}
@media (prefers-reduced-motion: reduce) {
  .color-scheme-switch__moon-sun {
    transition-duration: 0ms;
  }
}
.dark .color-scheme-switch__moon-sun {
  transform: rotateZ(-25deg);
  margin: 0 17px 0 0;
  border-radius: 50%;
}
.color-scheme-switch__moon-sun::after {
  background-color: var(--bg--em);
  border-radius: 50%;
  content: "";
  height: 8px;
  width: 8px;
  z-index: 1;
  margin: auto;
}
.dark .color-scheme-switch__moon-sun::after {
  height: 10px;
  transform: translateX(4px);
  width: 10px;
}
.color-scheme-switch__moon-sun::before {
  transition-duration: 140ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: var(--color--em);
  content: "";
  height: inherit;
  position: absolute;
  transform: rotateZ(45deg);
  width: inherit;
}
@media (prefers-reduced-motion: reduce) {
  .color-scheme-switch__moon-sun::before {
    transition-duration: 0ms;
  }
}
.dark .color-scheme-switch__moon-sun::before {
  transform: scale(0.1);
}

.stepper-nav {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  place-content: center;
}

.stepper-nav__list {
  padding-left: 0;
}
.stepper-nav__list > li {
  list-style: none;
}

a.step {
  display: flex;
  flex-grow: 1;
  color: inherit;
  font-weight: 500;
  line-height: 2;
  padding: 0 2rem 0 1rem;
  text-decoration: none;
}
a.step:hover, a.step:active, a.step.step--active {
  color: var(--color);
}

.footer {
  padding: 1rem;
}

:root {
  --preview-bg: #2372dc;
  --preview-color: white;
  --preview-outline: #8fb7ef;
}

.dark {
  --preview-bg: #07703b;
  --preview-color: white;
  --preview-outline: #7eb499;
}

.preview {
  box-shadow: 0 1px 3px 1px var(--color--shadow), 0 2px 2px var(--color--shadow);
  background-color: var(--preview-bg);
  background-image: url("../images/blue.png");
  border: 0.5rem solid var(--preview-bg);
  border-radius: 4px;
  color: var(--preview-color);
  display: flex;
  flex-direction: column;
  grid-area: prev;
  margin-bottom: 1rem;
  min-height: 200px;
  outline: 1px solid var(--preview-outline);
  outline-offset: -0.5rem;
  place-content: center;
}
.preview ::selection {
  background-color: black;
  color: white;
}
.dark .preview {
  background-image: url("../images/green.png");
}

.preview__main {
  align-self: center;
  display: grid;
  gap: 1rem;
  height: 100%;
  place-items: center;
  margin: 2rem;
}

.preview__body {
  box-shadow: 0 1px 3px 1px var(--color--shadow), 0 2px 2px var(--color--shadow);
  place-self: center;
}

.preview__caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1px 0.5rem 0;
}

.preview__canvas {
  border-radius: 4px;
}

.preview__footer {
  display: flex;
  font-size: 0.75rem;
}

.preview__new-tools,
.preview__date {
  background-color: var(--preview-bg);
  color: var(--preview-color);
  outline: 1px solid var(--preview-outline);
  padding: 1px 0.5rem 0;
}

.preview__date {
  margin-left: auto;
}

.new-tools__tag::after {
  content: " ";
}

@font-face {
  font-family: "DSEG7 Classic Italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/DSEG7Classic-Italic.woff2") format("woff2"), url("../fonts/DSEG7Classic-Italic.woff") format("woff");
}
@font-face {
  font-family: "Print Char 21";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/PrintChar21.woff2") format("woff2"), url("../fonts/PrintChar21.woff") format("woff");
}
#casi {
  background-color: #383b47;
  padding: 1.15rem 1rem 1rem;
  border-radius: 9px;
  width: fit-content;
}

.casi__display {
  background-color: #b2ac7a;
  border-radius: 3px;
  box-shadow: 0 2px 2px 1px #00000033 inset, 0 0 2px 1px #00000033 inset, 0 -1px 1px #00000033, 0 -1px 2px #00000033, 0 1px 1px #ffffff4d, 0 1px 2px #ffffff4d;
  color: #272415;
  display: grid;
  justify-items: right;
  gap: 0.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0.25rem;
  text-shadow: 0 1px 1px #0000004d;
}
.casi__display > p {
  margin-bottom: 0;
}

.casi__feedback {
  font-family: "Print Char 21", monospace;
  font-size: 16px;
  text-align: right;
  min-width: 5ch;
}

.casi__output {
  font-family: "DSEG7 Classic Italic", monospace;
  font-size: 26px;
  text-align: right;
}

.casi__buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  user-select: none;
}

.casi__btn {
  background-color: #787887;
  box-shadow: 0 2px 3px #00000033, 0 2px 2px #00000033;
  border: 1px solid #ffffff14;
  border-radius: 3px;
  cursor: pointer;
  display: grid;
  font-size: 1.23rem;
  font-weight: 500;
  height: 1.5em;
  place-content: center;
  width: 4.25ch;
}

.casi__btn:active {
  box-shadow: 0 1px 3px #00000033, 0 1px 2px #00000033;
}

#ik__canvas {
  background-color: white;
  user-select: none;
}
#ik__canvas:hover {
  cursor: pointer;
}

#tfp__canvas {
  user-select: none;
  cursor: pointer;
}

#tfp2__canvas {
  user-select: none;
}
#tfp2__canvas:hover {
  cursor: grab;
}
#tfp2__canvas:active {
  cursor: grabbing;
}

#tfp2__skin-canvas {
  display: none;
}

#tw__card {
  border-radius: 2px;
  background-color: #f7f7f7;
  color: #262626;
  padding: 1px;
  font-weight: 400;
}
#tw__card hr {
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #00000012;
  margin-top: 1px;
}
#tw__card .card__header {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 0 9px;
}
#tw__card .card__name {
  margin: 8px 0 7px;
  margin-right: 1rem;
}
#tw__card .card__name em {
  color: #707070;
}
#tw__card .card__flag {
  display: grid;
  height: fit-content;
}
#tw__card .card__temp {
  padding: 0 9px;
  margin: 0 0 7px;
  display: grid;
  grid-template-rows: min-content;
  grid-template-areas: "temp tempMax" "temp tempMin";
}
#tw__card .card__temp p {
  margin-bottom: 0;
}
#tw__card .temp__current {
  grid-area: temp;
  font-size: 49px;
  font-weight: 300;
  line-height: 1em;
  margin-top: 4px;
  margin-right: 1rem;
}
#tw__card .temp__max {
  grid-area: tempMax;
  margin-top: 7px;
}
#tw__card .temp__min {
  grid-area: tempMin;
}
#tw__card .temp__min span,
#tw__card .temp__max span {
  margin-right: 9px;
}

#tw2__card {
  background-color: white;
  border-radius: 3px;
  color: black;
  padding: 0.25rem 1.25rem 0 1rem;
  width: fit-content;
}
#tw2__card .card__content {
  display: grid;
  grid-template-areas: "temp name" "temp text";
  grid-template-rows: max-content min-content;
}
#tw2__card .card__temp {
  grid-area: temp;
  font-size: 50px;
  font-weight: 300;
  margin-right: 1rem;
}
#tw2__card .card__name {
  grid-area: name;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.8rem;
  max-width: 18ch;
}
#tw2__card .card__text {
  color: #697579;
  font-size: 0.8rem;
  grid-area: text;
  justify-self: left;
  margin-bottom: 0.5rem;
  max-width: 18ch;
  text-transform: capitalize;
}

.preview--vec {
  position: relative;
}

#vec__canvas {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
#vec__canvas:hover + #vec__debug-canvas {
  opacity: 1;
}
#vec__canvas.finish {
  animation: rotateHue infinite 2s linear;
}
#vec__canvas.finish + #vec__debug-canvas {
  animation: blink 1 1s ease-out;
}

#vec__debug-canvas {
  transition-duration: 140ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #fffa;
  border-radius: 50%;
  box-shadow: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
@media (prefers-reduced-motion: reduce) {
  #vec__debug-canvas {
    transition-duration: 0ms;
  }
}

@keyframes rotateHue {
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
}
@font-face {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rax5HieDvtMOe0iICsUccBhfqU2Zs335QNCd&skey=d18666d540079220&v=v9) format("woff2");
}
@font-face {
  font-family: "Faustina";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=XLY4IZPxYpJfTbZAFXWzNT2SO8wpWHlsgoEvHE2TMg&skey=e32c128add4269f7&v=v8) format("woff2");
}
@font-face {
  font-family: "Zen Tokyo Zoo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=NGSyv5ffC0J_BK6aFNtr6sRv8ah2QC4&skey=7c958eadb8bf05e7&v=v1) format("woff2");
}
@font-face {
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=9oRPNYsQpS4zjuAPiRoSdw&skey=79209908b474aec&v=v9) format("woff2");
}
#abchoose > a {
  background-color: #f3ff52;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: black;
  display: flex;
  font-family: "Oleo Script";
  font-size: 18px;
  padding: calc(0.5em + 2px) 1em 0.5em;
  text-decoration: none;
}

.abchoose__gallery {
  background-color: #f4f4f4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 3px 1px #0001 inset, 0 2px 2px #0001 inset;
  padding: 1rem;
  display: flex;
  gap: 8px;
}

.gallery__item {
  border-radius: 3px;
  border: 1px solid #0001;
  display: flex;
  place-content: center;
  background-color: white;
  width: 1.6em;
  line-height: 1.6;
  color: black;
  font-size: 32px;
  height: 1.6em;
  font-weight: 400;
}
.gallery__item:nth-of-type(1) {
  font-family: "Allura";
  padding-top: 2px;
  padding-right: 4px;
}
.gallery__item:nth-of-type(2) {
  font-family: "Faustina";
  line-height: 1.4;
}
.gallery__item:nth-of-type(3) {
  font-family: "Zen Tokyo Zoo";
}

/*# sourceMappingURL=main.css.map */
