@charset "UTF-8";
/* $bg-a: hsl(0, 0%, 0%);
$color-a: hsl(0, 0%, 88%);
$color-b: hsl(0, 0%, 51%);
$color-c: hsl(0, 0%, 12%);
$color-d: hsl(0, 0%, 10%); */
@-webkit-keyframes text-appear-keyframe {
  from {
    color: white;
  }
}
@keyframes text-appear-keyframe {
  from {
    color: white;
  }
}

* {
  font-family: Segoe UI, sans-serif, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #0f0f0f;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
h2 {
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: 1rem;
  margin-top: 4rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 0.3em;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

em {
  color: #737373;
  font-style: italic;
  font-size: inherit;
}

strong {
  font-weight: 600;
}

p {
  max-width: 660px;
  margin-bottom: 1rem;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  padding-left: 1.75rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-spacing: 0;
}

#root {
  -webkit-animation: text-appear-keyframe 120ms 1 ease-out;
          animation: text-appear-keyframe 120ms 1 ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Portfolio {
  border-right: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 960px;
  padding: 64px 64px 64px 128px;
}

.Portfolio > :first-child {
  margin-top: 0 !important;
}

@media screen and (max-width: 899px) {
  .Portfolio {
    padding: 64px 32px;
  }
}

@media screen and (max-width: 649px) {
  .Portfolio {
    padding: 32px 24px;
  }
}

.Portfolio__elem > :last-child {
  margin-bottom: 0 !important;
}

.projects__elem {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.projects__elem > :first-child {
  margin-top: 0 !important;
}

.description {
  border-top: 1px solid #ebebeb;
  display: none;
  margin-top: 1rem;
  padding-top: 1rem;
}

.description > :last-child {
  margin-bottom: 0 !important;
}

.old-stack-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.new-stack-item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.new-stack-item::before {
  color: #737373;
  content: "new";
  font-family: monospace;
  font-size: 10px;
  position: absolute;
  right: -1.1rem;
  top: 0px;
}

.chk_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-chk__chk {
  display: none;
}

.custom-chk__chk:checked + div > .custom-chk__lbl::before {
  content: "Menos";
}

.custom-chk__chk:checked ~ .description {
  display: block;
}

.custom-chk__lbl {
  color: #737373;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
}

.custom-chk__lbl:hover,
.custom-chk__lbl:active {
  color: #0f0f0f;
}

.custom-chk__lbl::before {
  content: "Más";
}

.projects__elem .date {
  font-size: 12px;
}

nav.stepper {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 649px) {
  nav.stepper {
    display: none;
  }
}

nav.stepper h4 {
  padding: 0 16px;
}

nav.stepper ul {
  padding-left: 0 !important;
}

li.step {
  list-style: none;
}

li.step a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  font-size: 12px;
  padding: 4px 0 4px 16px;
  text-decoration: none;
}

li.step a.step--active {
  border-left: 4px solid #ebebeb;
  padding: 4px 0 4px 12px;
}

/* .contact {
} */
.contact__card {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.card__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__pic > img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: auto;
  max-width: 100%;
}

.card__data {
  padding: 1rem;
}

.card__data {
  margin: 0;
}

.card__data li {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */