.text--small {
  font-size: $font-size--small;
  .dark & {
    font-weight: 400;
  }
}

.portfolio__elem {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.svg-24 {
  max-width: 24px;
  max-height: 24px;
}
