.card--base {
  color: var(--color);
  background-color: var(--bg--em);
  border-radius: $border-radius;
  padding: 1rem;
}

.from-zero-opacity--delay {
  @include animation(from-zero-opacity--delay, $animation-speed--slow * 2.5);
}

.icon__label {
  cursor: pointer;  
}

.icon {
  display: flex;
  user-select: none;
}

.not-bulleted {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.text-body {
  margin-bottom: 1em;
  * > &:last-child {
    margin-bottom: 0;
  }
}

.text--small {
  font-size: var(--size--small);
}
