.text--small {
  font-size: $font-size--small;
}

.text--extra-small {
  font-size: $font-size--extra-small;
}

.icon__label {
  cursor: pointer;
  &:hover > .icon > svg,
  &:active > .icon > svg {
    fill: var(--color);
  }
}

.icon {
  display: flex;
  user-select: none;
  &--21 {
    height: 21px;
    width: 21px;
  }
  &--24 {
    height: 24px;
    width: 24px;
  }
  > svg {
    fill: var(--color--em);
    height: 100%;
    width: 100%;
  }
}
