@font-face {
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=u-4n0q2lgwslOqpF_6gQ8kELawRpWtVqrNnIHluuKrJdvLvoP4C38VLfPc2VPtaBl2bip2KoUiFMVDW5aL-eLfmLKi3pHncMjQ-ZRUi2huN8nBhAxwRi_trevjsGcaAK3ddtemUYOfxzxWrB-rCF2xfDwwnfTZ9t3wGj0fGO-LPR_YBJ4snzRlUYWZYF8kDMDprRKI17iDF6_nL4JUfSY5dCBzX8y2gctus480SbVa2NhuOdyBPeYZNwyxxAqww_64_ogRT_7U8Uoo1jH8rSaD4CBSzFxQDjxCNAtdHOUajJKLg8VNoMGZckVilOOzgg5OjxYekUkYHohhALpDl7nHPNnk6b0-8KNq6q9ddr6FQp_n-mFPxi4bv4pBpPvKlBjeMeZmGMhl2L02Uw0Wc&skey=bd88f0a6edeea7b7&v=v2)
    format("woff2");
}
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=u-450q2lgwslOqpF_6gQ8kELWwN7yuXfj9rPFVStL7RfvqX2PYKx91DdM8OXO9KC6RjgpWSuUCNCWje7brmcL-eVKC_vGHUOgwGbfXC0gOV-nhZOxQZk-NjcoCUEc6YM39VjdGej4vx7xXzAxLCH2xDDzgndTZlt3QG90fOO_rPS_YxJ5MnyRmkYW5YC8k3MDJrXKI97ljF4_nT4JkfeY5FCBjX-zFEct-sX80WbRa2Oh9qdzxPOYZJwxBxBqz8_6o_5gRX_7k05ooJjM8rTYwoCByzO6DCknT0G7M6BCL6Hca9tDdJcQJ57Dy8QYj5NvN2dOd17ybaG3iZ-_BQPxF-Uxk_Di-9Xbqv2rdAIs2xLpUbDT8IGuoSV_ywj55431s5DPWfQ3VvSiWZo&skey=e017e80d5b8c8838&v=v2)
    format("woff2");
}

@font-face {
  font-family: "Lusitana";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=CSR74z9ShvucWzsMKyDmaccveuhekqdtXzr7fVFOOXrC9cqi2N_cDfD3lqNJdccNW1Va6TOua3tr7_Pn0n6Uq2SPts-mE4yjrz2WnS3oug&skey=b4d27e82eab80c53&v=v8)
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUPjIg1_i6t8kCHKm459WxZYgzD_uT4pguFg0UVZVJ6jIqJCor_grt8Tyj3lfHBdYxuu5CyUiZ4qh3BtqDzfwNCs976TNiVu41pZjnfkxqZ6-TEnKo1cxS7Z-IU-qPQik1GoZzxfZ5yJ5dc4DwT1oqDCa1m0mYpkRQ-AHY_1dWNoHjZHQuo7ux-MK3uorbPXS1soVJ7kKn_rE2aKVcQFSofJBBtWOf_3QTq1wXvHeUK-3iEu23Nmq4hGcNxzKxepQjp4IGDydcEjo0bMGaRpaBs49JBWZtZIbLl4nUuE6BLdyNvxLmaMjU32_dvByze-9Lf-hdLExC7zPGYyX1ZyJf_yIhtuDdCrn-bAEDF1PmnxVYGZhZWd8UP6F_RQPna9LEd_Hql&skey=a59d6e62b542782e&v=v18)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUQjIg1_i6t8kCHKm459Wxhyzxu-fZTjAKIh0EQZk9lkYmMDY_8j7QLNlP0kPbEdoFhtpO3VSN7twLctaX0egBPvNPDd-GQvIhqazbSkB-e7ufZg7c2dhO-ZO8b9xkAMj8s4u-xP9kybdAUqnJbmsTRRf00hDZ8x01rXy9hirfTwBq-fWHPhoYQWMGA0Nq_L1sc1CQC5daG0jLmUBJrVmhzZ30BJYqBoUOVlkO-XLVbpCja5ACT9sNcdb8Ms9IM2Fe5k97xsZF9wcBfUhK_paBt49JIWZtYIbL64nUvE6BEdyNuxLipMjU22_dsByzf-9LE-hdKExCWzPGZyX1cyJf-yItSuDdDrn-cAEDE1PmuxVYHZhZMd8Uk6F_QQPjf9LEc&skey=2d3c1187d5eede0f&v=v18)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTURjIg1_i6t8kCHKm45_cJD7gvRdtRVggOKgEATZ1BkkoiLDIz9gLVyN1D1l_fHd45gtZKwVCB6qAPftKL1eQFAvdD4dOCXvYtrZDfRkRif7ebGgrQ3cRK9ZeAa9KFrWU1foK3xf551J5pc4jwV1oiDF61k0mApkhQyAHA_1NWxoHrZGgul7u5-Nq3soqjPXy1qoVF7nKn5rEyaK1ApFSsfCxBsWPf_3gXT1wLvDeUL-3eEum3-mq8hCMNwzK9ciAjm4K2DyNwwjo8bO0uh4vlypYteFsJPb-vysywmQ_lCKHppmuCcX20Ct69baHTplYrpj09mZ0iXlamZkSVZlc_6lNBq22x6zCSiZRv7sKKYqA0wCk1hAZ4itQTXHKLcresepA&skey=1ce67628c9aa416a&v=v18)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUSjIg1_i6t8kCHKm45xWtzQwzD3f5cjweOhUMOeE1nl4-OD4Hy98wJNFXykvTKeINjsJW1Vz1ltQDas6f2dA5NhOvBceeSvoZkaTTUlh2c8PnbgbEwdBGwau2gJBkZMw4s4O-2P9Qyb9ASqnBbhMTTRfs0hzZwx0trXi9dirXTxxqzfWPPgIYSWN-A0tq5L1gc2CQE5deG0DXfUBNreWhyZ20BJou4oUSVhkO_XLpbpSjp5AGT58NddbwOntID2Hu5ktXFsZN9yu1vFUuh4_lyrIteF8JPcOvysiwmTPlCKXpoqeCcXm0CtK9baXTpjorpjk9mSkiXlKmZlCVZlM_5q9Bq2mx6yySiZBv7uaKYqQ0wEE1hKp4itATWGaLcrA&skey=7bc19f711c0de8f&v=v18)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTURjIg1_i6t8kCHKm45_bZF7gvRdtRVggOKgEATZ1BkkoiLDIz9gLVyN1D1l_fHd45gtZKwVCB6qAPftKL1eQFAvdD4dOCXvYtrZDfRkRif7ebGgrQ3cRK9ZeAa9KFrWU1foK3xf551J5pc4jwV1oiDF61k0mApkhQyAHA_1NWxoHrZGgul7u5-Nq3soqjPXy1qoVF7nKn5rEyaK1ApFSsfCxBsWPf_3gXT1wLvDeUL-3eEum3-mq8hCMNwzK9ciAjm4K2DyNwwjo8bO0uh4vlypYteFsJPb-vysywmQ_lCKHppmuCcX20Ct69baHTplYrpj09mZ0iXlamZkSVZlc_6lNBq22x6zCSiZRv7sKKYqA0wCk1hAZ4itQTXHKLcresepA&skey=72ae044fab0d9adc&v=v18)
    format("woff2");
}
