@font-face {
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=u-4n0q2lgwslOqpF_6gQ8kELawRpWtVqrNnIHluuKrJdvLvoP4C38VLfPc2VPtaBl2bip2KoUiFMVDW5aL-eLfmLKi3pHncMjQ-ZRUi2huN8nBhAxwRi_trevjsGcaAK3ddtemUYOfxzxWrB-rCF2xfDwwnfTZ9t3wGj0fGO-LPR_YBJ4snzRlUYWZYF8kDMDprRKI17iDF6_nL4JUfSY5dCBzX8y2gctus480SbVa2NhuOdyBPeYZNwyxxAqww_64_ogRT_7U8Uoo1jH8rSaD4CBSzFxQDjxCNAtdHOUajJKLg8VNoMGZckVilOOzgg5OjxYekUkYHohhALpDl7nHPNnk6b0-8KNq6q9ddr6FQp_n-mFPxi4bv4pBpPvKlBjeMeZmGMhl2L02Uw0Wc&skey=bd88f0a6edeea7b7&v=v2)
    format("woff2");
}
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=u-450q2lgwslOqpF_6gQ8kELWwN7yuXfj9rPFVStL7RfvqX2PYKx91DdM8OXO9KC6RjgpWSuUCNCWje7brmcL-eVKC_vGHUOgwGbfXC0gOV-nhZOxQZk-NjcoCUEc6YM39VjdGej4vx7xXzAxLCH2xDDzgndTZlt3QG90fOO_rPS_YxJ5MnyRmkYW5YC8k3MDJrXKI97ljF4_nT4JkfeY5FCBjX-zFEct-sX80WbRa2Oh9qdzxPOYZJwxBxBqz8_6o_5gRX_7k05ooJjM8rTYwoCByzO6DCknT0G7M6BCL6Hca9tDdJcQJ57Dy8QYj5NvN2dOd17ybaG3iZ-_BQPxF-Uxk_Di-9Xbqv2rdAIs2xLpUbDT8IGuoSV_ywj55431s5DPWfQ3VvSiWZo&skey=e017e80d5b8c8838&v=v2)
    format("woff2");
}

@font-face {
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXe3TcMTm_79yXPc40RIVnk1HnkZJ82ASci-a1HvGyX8A6QF7P6bx9UH_JJopiNEf_YmURwLQ25Gn7GjudHKcIevbuhPMRsCkb8FSZHDMDSaYBokvrnFnljhB_X5PwGSYsm8Ql7svQKXJ4Vm3nT-8kk4aBJzB1xQqeFan5yiml-p88c87HZigwEMqL9uNR2iC6j5PnOKEg73nb_irB5CRcNA-wwW28S_7tHNuKpvyAtXTk56ygWQaRZJQlrsJNHuuRTOy0-0_Ub0LFFI43zy60YOuGM8UEpFRh20fH6l2cmoD9HXIBaTCHX866LOP3ZWKWPgpBf_y30gECqeUTh5__cBM7Om4ZKAb0_-&skey=86e0d648ef636f2&v=v6)
    format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=iJWEBXyIfDnIV7nErXyoX2f-yqBX5Oe4fkoAbrX-pbB5DJWdXSlSuobZFhppz3geDl-_mzY8ZsBgEISHBHs8893CqbgzkUAK7JPtXSbheMPkuuE6ypiCUrIlrVtPfUq4Z2q8LsURcKs-ai9Y2kpqDbryo2g4q0na6Jc5QC0ssBDOmFnJuBHYgbLSVWk5xfa-Ah8_TMeDPzcBk3HPs3eK5MLFofcBw1d-7SZexxcpfbQIUTwirZBW5r7y1vjbUPZOFdvvTtUPz6WBkFv3Pzqq7Q42G1Qc7fXGSV87wuhOemtjIJoz6eljVsTfd2zLtid8ntqMY8ctPSkHYk0q347HXs_3RL2r4AxqYIsL6dtrnJyni5hS70BTBhecwEf2U94&skey=80e52bf85b0b1958&v=v14)
    format("woff2");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=iJWEBXyIfDnIV7nErXyoX2f-yqBX5Oe4fkoAbrX-pbB5DJWdXSlSuobZFhppz3geDl-_mzY8ZsBgEISHBHs8893CqbgzkUAK7JPtXSbheMPkuuE6ypiCUrIlrVtPfUq4Z2q8LsURcKs-ai9Y2kpqDbryo2g4q0na6Jc5QC0ssBDOmFnJuBHYgbLSVWk5xfa-Ah8_TMeDPzcBk3HPs3eK5MLFofcBw1d-7SZexxcpfbQIUTwirZBW5r7y1vjbUPZOFdvvTtUPz6WBkFv3Pzqq7Q42G1Qc7fXGSV87wuhOemtjIJoz6eljVsTfd2zLtid8ntqMY8ctPSkHYk0q347HXs_3RL2r4AxqYIsL6dtrnJyni5hS70BTBhecwEf2U94&skey=80e52bf85b0b1958&v=v14)
    format("woff2");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=iJWKBXyIfDnIV4nDv_eY8UP2xaNS4uW6YFQCbLP4p7J3ApfkJitQvIDbFBRnzXoYCF29hSg-ZMZmEoaJCnkEy9_Er7oxn04I7pXrXyT_ZsHmvOc4yJaMUAn2rUJOTEq6Z228I8UTcK0-aC9G2khqC7rxo2Q4rUnb6Ks5Qi0rsB3OmlnPuBPYn7LQVW85xvayAhk_TceBOA4BknHgs3aK9MLGoM4BxFdu7SdeyBcofYcIUDwzrZFW5bzf1vfbfPZPHu_vTNUE4pXGyUWxZiXltBh4QkNNtP2WEFZkm-4QI20OeK9fsd0MDvOxL1q-7goIxvbVO8Z1ZSlaOkh2h4mkBfeVH4TOuzIOO7Rmsu0Hx6vR0LUPtEYPXRHFmkSu&skey=cee854e66788286d&v=v14)
    format("woff2");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=iJWKBXyIfDnIV4nDv_eY8UP2xaNS4uW6YFQCbLP4p7J3ApfkJitQvIDbFBRnzXoYCF29hSg-ZMZmEoaJCnkEy9_Er7oxn04I7pXrXyT_ZsHmvOc4yJaMUAn2rUJOTEq6Z228I8UTcK0-aC9G2khqC7rxo2Q4rUnb6Ks5Qi0rsB3OmlnPuBPYn7LQVW85xvayAhk_TceBOA4BknHgs3aK9MLGoM4BxFdu7SdeyBcofYcIUDwzrZFW5bzf1vfbfPZPHu_vTNUE4pXGyUWxZiXltBh4QkNNtP2WEFZkm-4QI20OeK9fsd0MDvOxL1q-7goIxvbVO8Z1ZSlaOkh2h4mkBfeVH4TOuzIOO7Rmsu0Hx6vR0LUPtEYPXRHFmkSu&skey=cee854e66788286d&v=v14)
    format("woff2");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=iJWKBXyIfDnIV4nDv_eY8UP2xaNS4uW6YFQCbLP4p7J3ApfkJitQvIDbFBRnzXoYCF29hSg-ZMZmEoaJCnkEy9_Er7oxn04I7pXrXyT_ZsHmvOc4yJaMUAn2rUJOTEq6Z228I8UTcK0-aC9G2khqC7rxo2Q4rUnb6Ks5Qi0rsB3OmlnPuBPYn7LQVW85xvayAhk_TceBOA4BknHgs3aK9MLGoM4BxFdu7SdeyBcofYcIUDwzrZFW5bzf1vfbfPZPHu_vTNUE4pXGyUWxZiXltBh4QkNNtP2WEFZkm-4QI20OeK9fsd0MDvOxL1q-7goIxvbVO8Z1ZSlaOkh2h4mkBfeVH4TOuzIOO7Rmsu0Hx6vR0LUPtEYPXRHFmkSu&skey=cee854e66788286d&v=v14)
    format("woff2");
}
