@keyframes fade-opacity {
  from {
    opacity: 0;
  }
}

@keyframes cursor-blink {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes rotateHue {
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
}
