@mixin animation($name, $animation-speed) {
  @include speed(animation-duration, $animation-speed);
  animation-name: $name;
  animation-timing-function: $animation-function;
}

@mixin border($prop, $line-width) {
  #{$prop}: $line-width solid var(--color--border);
}

@mixin box-shadow($index: 1, $on-dark: false) {
  $a: 0 1px 2px 1px;
  $b: 0 (4px * $index) (4px * $index) 0px;
  $c: 0 (6px * $index) (6px * $index) 0px;
  @if $on-dark {
    box-shadow: $a var(--color--shadow-on-dark), $b var(--color--shadow-on-dark), $c var(--color--shadow-on-dark);
  } @else {
    box-shadow: $a var(--color--shadow), $b var(--color--shadow), $c var(--color--shadow);
  }
}

@mixin card--shadow-card($index: 1) {
  @extend .card--base;
  @include box-shadow($index);
}

@mixin speed($prop, $speed) {
  #{$prop}: $speed;
  @media (prefers-reduced-motion: reduce) {
    #{$prop}: 0ms;
  }
}

@mixin transition($speed, $props) {
  @include speed(transition-duration, $speed);
  transition-property: $props;
  transition-timing-function: $animation-function;
}
