@mixin font {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size--normal;
  .dark {
    font-weight: 300;
  }
}

@mixin color($ascent: false) {
  @if not $ascent {
    color: $color;
    .dark & {
      color: $color--dark;
    }
  } @else {
    color: $color--ascent;
    .dark & {
      color: $color--ascent--dark;
    }
  }
}

@mixin anchor-color {
  color: $anchor-color;
  text-decoration-color: $anchor-color;
  .dark & {
    color: $anchor-color--dark;
    text-decoration-color: $anchor-color--dark;
  }
}

@mixin bg($ascent: false) {
  @if not $ascent {
    background-color: $bg;
    .dark & {
      background-color: $bg--dark;
    }
  } @else {
    background-color: $bg--ascent;
    .dark & {
      background-color: $bg--ascent--dark;
    }
  }
}

@mixin border($prop, $line-width) {
  #{$prop}: $line-width solid $border-color;
  .dark & {
    #{$prop}: $line-width solid $border-color--dark;
  }
}

@mixin box-shadow($index: 1) {
  $b: 0 1px 2px;
  $a: 0 (1px * $index) (3px * $index) 1px;
  box-shadow: $a $shadow-color, $b $shadow-color;
  .dark & {
    box-shadow: $a $shadow-color--dark, $b $shadow-color--dark;
  }
}

@mixin base-container {
  @include color;
  @include bg;
}

@mixin ascent-container {
  @include color;
  @include bg(true);
}

@mixin base-card {
  @include ascent-container;
  @include border(border, 1px);
  border-radius: $border-radius;
  padding: 1rem;
}

@mixin plain-card {
  @include base-card;
}

@mixin relief-card($index: 1) {
  @include base-card;
  @include box-shadow($index);
}

@mixin text-body {
  margin-bottom: 1em;
  * > &:last-child {
    margin-bottom: 0;
  }
}

@mixin no-style-list {
  padding-left: 0;
  & > li {
    list-style: none;
  }
}

@mixin speed($prop, $speed) {
  #{$prop}: $speed;
  @media (prefers-reduced-motion: reduce) {
    #{$prop}: 0ms;
  }
}

@mixin transition-to-all {
  @include speed(transition-duration, $animation-speed--medium);
  transition-property: all;
}

@mixin animation($name, $animation-speed) {
  @include speed(animation-duration, $animation-speed);
  animation-name: $name;
}
