* {
  margin: 0px;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
  max-width: $max-width--page;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color--anchor);
  text-decoration-color: var(--color--anchor);
  &:hover {
    text-decoration: underline;
  }
}

body {
  color: var(--color);
  background-color: var(--bg);
}

em {
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: $font-family--heading;
  font-weight: $font-weight--heading;
}

h1,
h2 {
  @include transition($animation-speed--fast, font-size);
  line-height: 1;
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--size--h1);
}

h2 {
  font-size: var(--size--h2);
}

h3 {
  font-size: var(--size--h3);
}

h4 {
  @extend strong;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

p {
  @include transition($animation-speed--fast, font-size);
  @extend .text-body;
  max-width: $max-width--sections;
}

strong {
  font-weight: $font-weight--strong;
}

svg {
  @include transition($animation-speed--fast, fill);
  fill: var(--color--em);
  height: 100%;
  width: 100%;
}

ul {
  @extend .text-body;
  padding-left: 3ch;
}
