$white: #fff;
$skyblue: #c2e9ff;
$green: #063727;
$deep-green: #0b1414;
$blue: #224aff;
$yellow: #ff2;

$bg: $skyblue;
$bg--em: $white;
$bg--dark: $deep-green;
$bg--em-dark: $green;

$color: #222;
$color--em: #697579;
$color--dark: #eee;
$color--em-dark: #90a9a3;

$font-size--title: 64px;
$font-size--extra-big: 44px;
$font-size--big: 22px;
$font-size: 18px;
$font-size--small: 14px;

$font-weight: 400;
$font-weight--dark: 300;
$font-weight--strong: 600;
$font-weight--heading: 700;

$font-family: "Montserrat", sans-serif;
$font-family--heading: "Lusitana", serif;
$font-family--console: "Courier Prime", monospace;

$animation-speed--fast: 100ms;
$animation-speed--medium: 200ms;
$animation-speed--slow: 480ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);

$media--max-medium: 819px;
$media--max-small: 699px;
$media--max-extra-small: 619px;

$border-radius: 4px;

$max-width--sections: 51ch;
$max-width--page: 1024px;

// Default (light) color scheme.
:root {
  color-scheme: light;
  font-weight: $font-weight;
  --bg: #{$bg};
  --bg--active: #{lighten($bg, 6%)};
  --bg--em: #{$bg--em};
  --bg--em-active: #{darken($bg--em, 6%)};
  --color: #{$color};
  --color--em: #{$color--em};
  --color--anchor: #{$blue};
  --color--border: #00006014;
  --color--shadow: #0000600d;
  --color--shadow-on-dark: #00004020;
}

// Dark color scheme.
.dark {
  color-scheme: dark;
  font-weight: $font-weight--dark;
  --bg: #{$bg--dark};
  --bg--active: #{lighten($bg--dark, 3%)};
  --bg--em: #{$bg--em-dark};
  --bg--em-active: #{darken($bg--em-dark, 3%)};
  --color: #{$color--dark};
  --color--em: #{$color--em-dark};
  --color--anchor: #{$yellow};
  --color--border: #0000002a;
  --color--shadow: #00000016;
  --color--shadow-on-dark: #00000020;
}
