// Colors.
$black: #0c0d0d;
$white: #ffffff;
$grey--light: #f5f5f5;
$grey--med: #bec4c6;
$grey--dark: #5f6a6d;
$blue: #0055ff;
$blue--light: #cceeff;
$lime: #b4ff33;
$green--med: #044e1f;
$green--dark: #022212;

//$lime: rgb(249, 255, 64);
//$green: rgb(56, 196, 61);

// Light mode.
$bg: $blue--light;
$bg--ascent: $white;
$color: $black;
$color--ascent: $grey--dark;
$shadow-color: #00000010;
$border-color: #00000014;
$anchor-color: $blue;

// Dark mode.
$bg--dark: $green--dark;
$bg--ascent--dark: $green--med;
$color--dark: $grey--light;
$color--ascent--dark: $grey--med;
$shadow-color--dark: #00000014;
$border-color--dark: #00000024;
$anchor-color--dark: $lime;

// Font sizes
$font-size--normal: 16px;
$font-size--small: 0.875rem;
$font-size--extra-small: 0.75rem;

// Animation.
$animation-speed--fast: 70ms;
$animation-speed--medium: 140ms;
$animation-speed--slow: 400ms;
$animation-function: cubic-bezier(0.215, 0.61, 0.355, 1);

// Media queries.
$media--max-big: 1199px;
$media--max-medium: 959px;
$media--max-small: 639px;
$media--max-micro: 359px;

// Others.
$border-radius: 4px;
