$white: #fff;
$skyblue: #afe2ff;
$green: #063727;
$deep-green: #0b1313;
$blue: #224aff;
$yellow: #ff2;

$bg: $skyblue;
$bg--em: $white;
$bg--dark: $deep-green;
$bg--em-dark: $green;

$color: #222;
$color--em: #697579;
$color--dark: #eee;
$color--em-dark: #90a9a3;

$font-weight: 400;
$font-weight--dark: 300;
$font-weight--strong: 600;
$font-weight--heading: 700;

$font-family: "Rubik", sans-serif;
$font-family--heading: "Saira Semi Condensed", sans-serif;
$font-family--console: "Courier Prime", monospace;

$animation-speed--fast: 100ms;
$animation-speed--medium: 200ms;
$animation-speed--slow: 480ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);

$media--max-medium: 819px;
$media--max-small: 699px;
$media--max-extra-small: 629px;

$border-radius: 4px;

$max-width--sections: 50ch;
$max-width--page: 1024px;
