.aside {
  @media screen and (max-width: $media--max-extra-small) {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    &[isvisible="true"] {
      .aside__close {
        pointer-events: all;
      }
      .sticky__slide {
        // Like `@include box-shadow; but to the left.
        $a: -1px 0 2px 1px;
        $b: -8px 0 8px 0px;
        $c: -12px 0 12px 0px;
        box-shadow: $a var(--color--shadow), $b var(--color--shadow), $c var(--color--shadow);
        transform: translateX(0%);
      }
    }
  }
}

.aside__close {
  background-color: transparent;
  height: 100vh;
  user-select: none;
  pointer-events: none;
  position: fixed;
  width: 100vw;
}

.aside__sticky {
  @include animation(appear-from-top, $animation-speed--slow * 1.5);
  display: flex;
  overflow-x: hidden;
  position: sticky;
  height: 100vh;
  right: 0;
  top: 0;
}

.sticky__slide {
  @include transition($animation-speed--medium, transform);
  background-color: var(--bg--em);
  color: var(--color--em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  overflow-x: hidden;
  pointer-events: all;
  min-width: max-content;
  > * {
    @extend .from-zero-opacity--delay;
  }
  @media screen and (max-width: $media--max-extra-small) {
    transform: translateX(100%);
  }
}

.aside__button {
  @include box-shadow(2);
  background-color: var(--bg--active);
  border: none;
  border-radius: 50%;
  bottom: 2rem;
  display: none;
  height: 48px;
  pointer-events: all;
  position: fixed;
  right: 2rem;
  width: 48px;
  &:hover,
  &:active {
    .aside__button-dots {
      background-color: var(--color);
    }
  }
  @media screen and (max-width: $media--max-extra-small) {
    display: flex;
  }
}

.aside__button-dots {
  @include transition($animation-speed--fast, background-color);
  width: 16px;
  height: 2px;
  background-color: var(--color--em);
  margin: auto;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    flex-shrink: 0;
    background-color: inherit;
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
  &::before {
    top: -5px;
  }
  &::after {
    bottom: -5px;
  }
}
