.connect__card {
  border-radius: $border-radius;
  background-color: var(--bg--em);
  display: flex;
  margin-top: 0.5rem;
  width: fit-content;
  position: relative;
  &::before {
    @include box-shadow;
    background-color: transparent;
    border-radius: 0.5rem;
    bottom: 0;
    content: "";
    height: 1rem;
    left: 0;
    position: absolute;
    transform: rotateZ(-2deg);
    transform-origin: left bottom;
    width: 100%;
    z-index: -1;
  }
}

.connect__data {
  @extend .not-bulleted;
  grid-column: 1 / 2;
  margin-bottom: 0;
  align-self: center;
  padding: 0 2rem 0 1rem;
  li {
    line-height: 2;
  }
}

.email-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: copy;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  position: relative;
  z-index: 0;
  &::before {
    background-color: var(--bg--em-active);
    border-radius: $border-radius;
    content: "";
    height: 2em;
    left: -0.5rem;
    right: -0.5rem;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &:active,
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.connect__pic {
  align-self: center;
  display: flex;
  grid-column: 2 / 3;
  filter: contrast(0.95);
  img {
    aspect-ratio: 90/132;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  .dark & {
    filter: brightness(0.85);
  }
}
