.live-bg__canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  .dark &.live-bg__canvas--birds {
    display: none;
  }
  &--fireflies {
    display: none;
    .dark & {
      display: block;
    }
  }
}
