.live-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.live-bg__canvas {
  filter: blur(0px);
  .dark &--birds {
    display: none;
  }
  &--fireflies {
    display: none;
    .dark & {
      display: block;
    }
  }
}
