.live-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.live-bg__canvas {
  &--birds {
    filter: drop-shadow(0 0 4px #00f8);
  }
  .dark &--birds {
    display: none;
  }
  &--fireflies {
    display: none;
    .dark & {
      display: block;
    }
  }
}
