.portfolio {
  padding: 0 1rem;
}

.portfolio__elem {
  &:not(:first-of-type) {
    @extend .from-zero-opacity--delay;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  max-width: $media--max-small;
  padding-top: 3rem;
  &:first-of-type {
    margin-top: 8rem;
  }
  &:last-of-type {
    margin-bottom: 11rem;
  }
}
