@import "../../../sass/abstracts/variables", "../blueprint.scss";

@font-face {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rax5HieDvtMOe0iICsUccBhfqU2Zs335QNCd&skey=d18666d540079220&v=v9)
    format("woff2");
}

@font-face {
  font-family: "Faustina";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=XLY4IZPxYpJfTbZAFXWzNT2SO8wpWHlsgoEvHE2TMg&skey=e32c128add4269f7&v=v8)
    format("woff2");
}

@font-face {
  font-family: "Zen Tokyo Zoo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=NGSyv5ffC0J_BK6aFNtr6sRv8ah2QC4&skey=7c958eadb8bf05e7&v=v1)
    format("woff2");
}

@font-face {
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=9oRPNYsQpS4zjuAPiRoSdw&skey=79209908b474aec&v=v9) format("woff2");
}

#abchoose {
  @extend .blueprint;
  border-radius: $border-radius;
  flex-direction: column;
  > a {
    border-bottom: 1px solid white;
    color: inherit;
    display: flex;
    font-family: "Oleo Script";
    font-size: 18px;
    padding: calc(0.5em + 2px) 1em 0.5em;
    text-decoration: none;
    position: relative;
    &::after {
      border-bottom: 1px dashed #fff8;
      bottom: -1px;
      content: "";
      left: -1.5rem;
      right: -1.5rem;
      position: absolute;
    }
  }
}

.abchoose__gallery {
  padding: 1em;
  display: flex;
  gap: 0.5em;
}

.gallery__item {
  @extend .blueprint;
  border-radius: 3px;
  display: flex;
  font-size: 32px;
  font-weight: 400;
  height: 1.6em;
  line-height: 1.6;
  place-content: center;
  width: 1.6em;
  &:nth-of-type(1) {
    font-family: "Allura";
    padding-right: 4px;
    padding-top: 2px;
  }
  &:nth-of-type(2) {
    font-family: "Faustina";
    line-height: 1.4;
  }
  &:nth-of-type(3) {
    font-family: "Zen Tokyo Zoo";
  }
}
