@import "../../../sass/abstracts/variables";

$color: #ffffff;
$color--display: #272415;

$bg: #383b47;
$bg--button: #787887;
$bg--display: #b2ac7a;

$shadow-color: #00000033;
$light-color: #ffffff4d;

@font-face {
  font-family: "DSEG7 Classic Italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/DSEG7Classic-Italic.woff2") format("woff2"),
    url("../../../fonts/DSEG7Classic-Italic.woff") format("woff");
}

@font-face {
  font-family: "Print Char 21";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../../fonts/PrintChar21.woff2") format("woff2"), url("../../../fonts/PrintChar21.woff") format("woff");
}

#casi {
  background-color: $bg;
  border-radius: 9px;
  display: block;
  padding: 1.15rem 1rem 1rem;
  width: fit-content;
}

.casi__display {
  background-color: $bg--display;
  border-radius: 3px;
  box-shadow: 0 2px 2px 1px $shadow-color inset, 0 0 2px 1px $shadow-color inset, 0 -1px 1px $shadow-color,
    0 -1px 2px $shadow-color, 0 1px 1px $light-color, 0 1px 2px $light-color;
  color: $color--display;
  display: grid;
  justify-items: right;
  gap: 0.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0.25rem;
  text-shadow: 0 1px 1px #0000004d;
  & > p {
    margin-bottom: 0;
  }
}

.casi__feedback {
  font-family: "Print Char 21", monospace;
  font-size: 16px;
  min-width: 5ch;
  text-align: right;
}

.casi__output {
  font-family: "DSEG7 Classic Italic", monospace;
  font-size: 26px;
  text-align: right;
}

.casi__buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  user-select: none;
}

.casi__btn {
  background-color: $bg--button;
  border: 1px solid #ffffff14;
  border-radius: 3px;
  box-shadow: 0 2px 3px $shadow-color, 0 2px 2px $shadow-color;
  cursor: pointer;
  display: grid;
  font-size: 20px;
  font-weight: 500;
  padding: 1px 0;
  place-content: center;
  width: 4.25ch;
}

.casi__btn:active {
  box-shadow: 0 1px 3px $shadow-color, 0 1px 2px $shadow-color;
}
