@import "../../../sass/abstracts/variables", "../blueprint.scss";

@font-face {
  font-family: "DSEG7 Classic Italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/DSEG7Classic-Italic.woff2") format("woff2"),
    url("../../../fonts/DSEG7Classic-Italic.woff") format("woff");
}

@font-face {
  font-family: "Print Char 21";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../../fonts/PrintChar21.woff2") format("woff2"), url("../../../fonts/PrintChar21.woff") format("woff");
}

#casi {
  @extend .blueprint;
  border-radius: 9px;
  flex-direction: column;
  padding: 1.15em 1em 1em;
  width: fit-content;
}

.casi__display {
  @extend .blueprint;
  border-radius: $border-radius;
  display: grid;
  justify-items: right;
  gap: 0.2em;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.25em;
  & > p {
    margin-bottom: 0;
  }
}

.casi__feedback {
  font-family: "Print Char 21", monospace;
  font-size: 16px;
  min-width: 7ch;
  text-align: right;
}

.casi__output {
  font-family: "DSEG7 Classic Italic", monospace;
  font-size: 26px;
  text-align: right;
}

.casi__buttons {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  user-select: none;
}

.casi__btn {
  @extend .blueprint;
  border-radius: $border-radius;
  cursor: pointer;
  display: grid;
  font-size: 20px;
  font-weight: 500;
  padding: 1px 0;
  place-content: center;
  width: 4.25ch;
}
