$red: #ff0000;
$yellow: #ffcc00;
$green: #00cc00;
$blue: #0099ff;

$red--dark: #ff3333;
$yellow--dark: #ffcc33;
$green--dark: #33cc33;
$blue--dark: #3399ff;

.logo {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.logo-bg {
  fill: $bg;
  .dark & {
    fill: $bg--ascent--dark;
  }
}

.red-t {
  fill: $red;
  .dark & {
    fill: $red--dark;
  }
}

.yellow-t {
  fill: $yellow;
  .dark & {
    fill: $yellow--dark;
  }
}

.green-t {
  fill: $green;
  .dark & {
    fill: $green--dark;
  }
}

.blue-t {
  fill: $blue;
  .dark & {
    fill: $blue--dark;
  }
}

/* 
<svg style="display: none;" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
  xml:space="preserve">
  <defs>
    <g id="logo-svg">
      <rect class="logo-bg" x="0" width="100" height="100" />
      <polygon class="t-0 blue-t" points="12.5,62.5 37.5,62.5 12.5,87.5" />
      <polygon class="t-1 blue-t" points="37.5,62.5 62.5,62.5 37.5,87.5" />
      <polygon class="t-2 blue-t" points="62.5,62.5 87.5,62.5 62.5,87.5" />
      <polygon class="t-3 yellow-t" points="62.5,62.5 62.5,37.5 87.5,62.5" />
      <polygon class="t-4 yellow-t" points="37.5,62.5 37.5,37.5 62.5,62.5" />
      <polygon class="t-5 yellow-t" points="12.5,62.5 12.5,37.5 37.5,62.5" />
      <polygon class="t-6 yellow-t" points="12.5,37.5 12.5,12.5 37.5,37.5" />
      <polygon class="t-7 green-t" points="62.5,37.5 37.5,37.5 62.5,12.5" />
      <polygon class="t-8 red-t" points="87.5,12.5 87.5,37.5 62.5,12.5" />
    </g>
  </defs>
</svg>

<svg className="logo" viewBox="0 0 100 100" >
  <use xlinkHref="#logo-svg" />
</svg>
*/
