@import "../../../sass/abstracts/variables", "../blueprint.scss";

#tw2__card {
  @extend .blueprint;
  border-radius: $border-radius;
  padding: 0.25em 1.25em 0 1em;
  width: fit-content;
  .card__content {
    display: grid;
    grid-template-areas:
      "temp name"
      "temp text";
    grid-template-rows: max-content min-content;
  }
  .card__temp {
    grid-area: temp;
    font-size: 50px;
    font-weight: 300;
    margin-right: 15px;
  }
  .card__name {
    grid-area: name;
    font-size: 1em;
    font-weight: 500;
    margin-top: 0.75em;
    max-width: 18ch;
  }
  .card__text {
    font-size: 0.8em;
    grid-area: text;
    justify-self: left;
    margin-bottom: 0.75em;
    max-width: 18ch;
    text-transform: capitalize;
  }
}
