.projects__project {
  @include box-shadow;
  @extend .card--base;
  color: var(--color--em);
  display: grid;
  grid-template-areas: "prev prev" "header header" "about show-hide" "details details";
  grid-template-columns: auto min-content;
  width: fit-content;
}

.show-hide__label {
  align-self: flex-end;
  justify-self: right;
  grid-area: show-hide;
  margin-left: 1ch;
}

.show-hide__content {
  grid-area: details;
}

.project__header {
  grid-area: header;
  margin-top: 1.5rem;
  width: fit-content;
}

.project__title {
  margin-right: auto;
  margin-bottom: 0.5rem;
  line-height: 1;
  a {
    align-items: center;
    color: var(--color);
    display: flex;
    font: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.project__about {
  @extend .text--small;
  grid-area: about;
  align-self: center;
  margin-bottom: 0;
}

.project__details {
  @extend .text--small;
  grid-area: details;
  margin-top: 1rem;
  h4 {
    color: var(--color);
  }
}

.project__new-tool sup {
  color: var(--color);
}

.project__link-container {
  &::after {
    content: ", ";
  }
  &:last-of-type::after {
    content: "";
  }
}
