.portfolio__start {
  h1 {
    overflow-y: hidden;
    display: flex;
    a {
      @include animation(appear-from-bottom, $animation-speed--slow);
      color: inherit;
      text-decoration: none;
    }
  }
}

.start__description {
  @extend .from-zero-opacity--delay;
}
