.aside {
  @media screen and (min-width: $media--max-medium + 1) {
    padding-right: 3rem;
  }
  @media screen and (max-width: $media--max-small) {
    height: 100vh;
    right: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    &[isvisible="true"] {
      & .aside__bg {
        pointer-events: all;
      }
      & .sticky__slide {
        box-shadow: -2px 0 2px $shadow-color, -2px 0 6px 1px $shadow-color;
        transform: translateX(0%);
        .dark & {
          box-shadow: -2px 0 2px $shadow-color--dark, -2px 0 6px 1px $shadow-color--dark;
        }
      }
    }
  }
}

.aside__button {
  @include relief-card($index: 2);
  border: none;
  bottom: 2rem;
  display: none;
  padding: 0.75rem;
  pointer-events: all;
  position: fixed;
  right: 2rem;
  width: fit-content;
  @media screen and (max-width: $media--max-small) {
    display: flex;
  }
}

.aside__bg {
  background-color: transparent;
  height: 100vh;
  user-select: none;
  pointer-events: none;
  position: fixed;
  width: 100vw;
}

.aside__sticky {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  right: 0;
}

.sticky__slide {
  @include bg(true);
  @include color(ascent);
  @include speed(transition-duration, $animation-speed--medium);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: auto;
  pointer-events: all;
  transition-property: transform;
  width: max-content;
  @media screen and (max-width: $media--max-small) {
    transform: translateX(100%);
  }
}
