@mixin visible {
  transform: translateX(0%);
}

@mixin hidden {
  transform: translateX(100%);
}

.aside {
  @media screen and (max-width: $media--max-small) {
    height: 100vh;
    right: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    &[isvisible="true"] {
      & .aside__bg {
        pointer-events: all;
        background-color: rgba(0, 0, 0, 33%);
      }
      & .sticky__slide {
        @include visible;
      }
      & + .aside__button {
        //z-index: -1;
      }
    }
  }
}

.aside__bg {
  @include speed(transition-duration, $animation-speed--medium);
  background-color: rgba(0, 0, 0, 0%);
  height: 100vh;
  user-select: none;
  pointer-events: none;
  position: fixed;
  transition-property: background-color;
  width: 100vw;
  z-index: -1;
}

.aside__sticky {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  right: 0;
}

.sticky__slide {
  @include bg;
  @include border(border-left, 1px);
  @include speed(transition-duration, $animation-speed--medium);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: auto;
  pointer-events: all;
  transition-property: transform;
  width: max-content;
  z-index: 1;
  @media screen and (max-width: $media--max-small) {
    @include hidden;
  }
}

.aside__button {
  @include relief-card;
  bottom: 2rem;
  display: none;
  padding: $font-size--normal * 0.8;
  pointer-events: all;
  position: fixed;
  right: 2rem;
  width: fit-content;
  @media screen and (max-width: $media--max-small) {
    display: flex;
  }
}
