.projects__carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0.5rem;
  perspective: 650px;
  position: relative;
}

.carousel__item--center {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.carousel__item--left,
.carousel__item--right {
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: blur(4px) opacity(0.7);
  overflow: visible;
  padding: 0;
  user-select: none;
  & > * {
    pointer-events: none;
  }
}

.carousel__item--left {
  grid-area: 1 / 1 / 2 / 3;
  transform-origin: 0% 50%;
  transform: scale(0.6) rotate3d(0, 1, 0, 15deg);
}

.carousel__item--right {
  grid-area: 1 / 2 / 2 / 4;
  justify-self: right;
  transform-origin: 100% 50%;
  transform: scale(0.6) rotate3d(0, -1, 0, 15deg);
}
