.contact__card {
  @include plain-card;
  align-items: center;
  display: flex;
  justify-self: center;
  padding: 0.5rem;
  max-width: fit-content;
  @media screen and (max-width: $media--max-micro) {
    flex-direction: column;
  }
}

.card__data {
  @include no-style-list;
  padding-right: 0.66rem;
  margin: 0.5rem;
  @media screen and (max-width: $media--max-micro) {
    padding-right: 0;
    text-align: center;
  }
}

.card__pic {
  display: flex;
  margin: 0.5rem;
  img {
    border-radius: $border-radius;
  }
}
