.connect__card {
  @include relief-card;
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.connect__data {
  @include no-style-list;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  h2 {
    @extend h3;
  }
  li {
    margin-left: 0.5rem;
    &.data__email {
      margin-left: 0;
    }
  }
}

.email-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border-radius: $border-radius;
  border: none;
  background-color: inherit;
  display: flex;
  cursor: copy;
  padding: 0 0.25rem 0 0.5rem;
  gap: 0.5ch;
  &:hover {
    background-color: var(--bg--active);
  }
  .icon {
    transform: translateY(1px);
  }
}

.connect__pic {
  display: flex;
  align-self: center;
  img {
    aspect-ratio: 90/132;
    border-radius: $border-radius;
  }
}
