.connect__card {
  @include relief-card;
  display: flex;
  gap: 2rem;
  width: fit-content;
}

.card__data {
  @include no-style-list;
  margin-bottom: 0;
}

.card__pic {
  display: flex;
  img {
    aspect-ratio: 90/132;
    border-radius: $border-radius;
  }
}

label[for="email"] {
  display: flex;
  cursor: pointer;
}

#email.input-to-copy {
  background-color: inherit;
  color: inherit;
  cursor: inherit;
  border: none;
  font: inherit;
  outline: none;
  width: 17ch;
}
