.contact__card {
  background-color: $color--bg-up;
  //box-shadow: $card-shadow;
  border: 1px solid $color--border;
  border-radius: $card-radius;
  display: flex;
  max-width: fit-content;
  .dark & {
    background-color: $color--bg-up--dark;
    border-color: $color--border--dark;
  }
}

.card__pic {
  display: flex;
}

.card__pic > img {
  border-top-left-radius: $card-radius;
  border-bottom-left-radius: $card-radius;
  height: auto;
  max-width: 100%;
}

.card__data {
  padding: 1rem;
}

.card__data {
  margin: 0;
}

.card__data li {
  list-style: none;
}
