.contact__card {
  background-color: $bg--ascent;
  border: 1px solid $border-color;
  border-radius: $card-radius;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 82px max-content;
  max-width: fit-content;
  padding: 1rem;
  place-content: center;
  .dark & {
    background-color: $bg--ascent--dark;
    border-color: $border-color--dark;
  }
}

.card__pic {
  display: contents;
}

.card__pic > img {
  border-radius: $card-radius;
}

.card__data {
  margin: auto 0;
  padding-left: 0;
  padding-right: 1rem;
}

ul.card__data li {
  list-style: none;
}
