.cv__preview {
  color: var(--color--em);
  background-color: var(--bg--em);
  border-radius: $border-radius;
  font-family: $font-family--console;
  font-size: 14px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem 1rem;
  h3 {
    font-size: inherit;
    color: #6161ff;
    font-weight: inherit;
    margin-bottom: 0;
    > span {
      color: var(--color--em);
    }
  }
  p {
    max-width: 100%;
    strong {
      color: black;
      font-weight: inherit;
    }
    em {
      color: #008a00;
    }
  }
  .dark & {
    background-color: mix(#0008, $bg--dark, 80%);
    h3 {
      color: #8f8fff;
    }
    p {
      strong {
        color: white;
      }
      em {
        color: #40d240;
      }
    }
  }
}

.cv__header {
  position: relative;
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}

.cv__buttons {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  width: fit-content;
  padding-bottom: 2px;
  span,
  &::before,
  &::after {
    border-radius: 0.3rem;
    content: "";
    flex-shrink: 0;
    height: 9px;
    width: 9px;
  }
  span {
    background-color: hsl(56, 100%, 60%);
  }
  &::before {
    background-color: hsl(120, 100%, 60%);
  }
  &::after {
    background-color: hsl(0, 100%, 65%);
  }
  .dark & {
    span {
      background-color: hsl(56, 70%, 45%);
    }
    &::before {
      background-color: hsl(120, 70%, 50%);
    }
    &::after {
      background-color: hsl(0, 70%, 50%);
    }
  }
}

.cv__blinking-cursor {
  &::before {
    animation: cursor-blink 1.25s infinite linear;
    opacity: 1;
    content: "";
    width: 1px;
    height: 17px;
    display: flex;
    background-color: var(--color--em);
  }
}
