$label-h: $font-size--normal * 1.5;
$label-w: $font-size--normal * 2.5;
$body-size: $font-size--normal * 0.75;
$half-margin: ($label-w - $body-size) * 0.5;

.dark-mode-switch {
  margin: 1rem;
  user-select: none;
}

.dark-mode-switch__input {
  display: none;
}

.dark-mode-switch__label {
  @include box-shadow;
  @include bg($ascent: true);
  border-radius: $font-size--normal * 0.75;
  cursor: pointer;
  display: grid;
  height: $label-h;
  padding: $font-size--normal * ((1.5 - 0.75) * 0.5);
  width: $label-w;
}

// Sun and moon body
.label__body {
  @include all-fast-transition;
  background-color: $color--ascent;
  display: grid;
  height: $body-size;
  margin: 0 0 0 $half-margin;
  place-content: center;
  position: relative;
  width: $body-size;
  .dark & {
    background-color: $color--ascent--dark;
    transform: rotateZ(-22.5deg);
    margin: 0 $half-margin 0 0;
    border-radius: 50%;
  }
}

// Sun extra shines
.label__body::before {
  @include all-fast-transition;
  background-color: $color--ascent;
  content: "";
  height: inherit;
  position: absolute;
  transform: rotateZ(45deg);
  width: inherit;
  .dark & {
    background-color: $color--ascent--dark;
    transform: scale(0.1);
  }
}

// Cener dot
.label__body::after {
  @include bg($ascent: true);
  @include all-fast-transition;
  border-radius: 50%;
  content: "";
  height: $font-size--normal * 0.5;
  width: $font-size--normal * 0.5;
  z-index: 1;
  .dark & {
    height: $body-size * 0.83;
    transform: translateX($font-size--normal * 0.22);
    width: $body-size * 0.83;
  }
}
