.dark-mode {
  box-sizing: border-box;
  margin: 1rem;
  user-select: none;
  @media screen and (max-width: $media--max-small) {
    & {
      position: inherit;
      margin-left: auto;
    }
  }
}

.dark-mode__input {
  display: none;
}

.dark-mode__label {
  @include box-shadow;
  cursor: pointer;
  background-color: $color--ascent;
  border: 2px solid $color--ascent;
  border-radius: 1rem;
  display: flex;
  height: 1rem;
  overflow: hidden;
  width: 1rem;
  .dark & {
    background-color: $color--ascent--dark;
    border-color: $color--ascent--dark;
  }
}

.dark-mode__label::before {
  @include bg;
  content: "";
  height: 100%;
  transition: margin-left 120ms;
  width: 50%;
  margin-left: 0%;
  .dark & {
    margin-left: 50%;
  }
}
