.stepper-nav {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  place-content: center;
}

.stepper-nav__list {
  @extend .not-bulleted;
  @for $i from 1 to 7 {
    :nth-child(#{$i}) {
      @include animation(appear-from-left, $animation-speed--slow * (3 + $i * 0.5));
    }
  }
}

a.step {
  display: flex;
  flex-grow: 1;
  color: inherit;
  line-height: 2;
  padding: 0 2rem 0 1rem;
  position: relative;
  text-decoration: none;
  z-index: 0;
  &:active,
  &:hover,
  &.step--active {
    color: var(--color);
  }
  &::before {
    background-color: var(--bg--em-active);
    border-radius: $border-radius;
    content: "";
    height: 2em;
    left: 0.5rem;
    right: 0.5rem;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &.step--active {
    &::before {
      opacity: 1;
    }
  }
}
