.portfolio {
  max-width: $media--max-medium + 1;
  padding: 0 4rem;
  @media screen and (max-width: $media--max-medium) {
    padding: 0 2rem;
  }
  @media screen and (max-width: $media--max-small) {
    padding: 0 1rem;
  }
}

.portfolio__elem {
  &:not(:first-of-type) {
    @extend .from-zero-opacity;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  padding-top: 4rem;
  &:first-of-type {
    margin-top: 8rem;
  }
  &:last-of-type {
    margin-bottom: 12rem;
  }
  @media screen and (max-width: $media--max-medium) {
    margin-bottom: 3rem;
    padding-top: 3rem;
  }
  @media screen and (max-width: $media--max-small) {
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
}
