.portfolio {
  max-width: 960px;
  padding-bottom: 8rem;
  padding-right: 4rem;
  padding-top: 8rem;
  @media screen and (max-width: $media--max-medium) {
    padding: 4rem 2rem;
  }
  @media screen and (max-width: $media--max-small) {
    padding: 2rem 1rem;
  }
}
