.portfolio {
  position: relative;
  @include border(border-right, 1px);
  max-width: 960px;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-right: 4rem;
  @media screen and (max-width: $media--max-medium) {
    & {
      padding: 2rem;
    }
  }
  @media screen and (max-width: $media--max-small) {
    & {
      @include border(border-bottom, 1px);
      border-right: none;
      padding: 1rem;
    }
  }
}
