// Default color scheme (light).
:root {
  --preview-bg: hsl(210, 100%, 70%);
  --color--line: #ffffff1a;
  --color--outline: #ffffff33;
  --canvas-border-color: white;
}

// Dark color scheme.
.dark {
  --preview-bg: #00662c;
  --color--line: #ffffff14;
  --color--outline: #ffffff29;
  --canvas-border-color: black;
}

$line--mm: transparent, transparent 5px, var(--color--line) 5px, var(--color--line) 6px;
$line-cm: transparent, transparent 29px, var(--color--line) 29px, var(--color--line) 30px;

.preview {
  background-color: var(--preview-bg);
  background-image: repeating-linear-gradient(to right, $line--mm), repeating-linear-gradient(to right, $line-cm),
    repeating-linear-gradient($line--mm), repeating-linear-gradient($line-cm);
  border: 8px solid var(--preview-bg);
  border-radius: $border-radius;
  color: white;
  display: grid;
  grid-area: prev;
  height: 270px;
  width: 270px;
  outline: 1px solid var(--color--outline);
  outline-offset: -8px;
  place-content: center;
  & ::selection {
    background-color: black;
    color: white;
  }
}

.preview__body {
  display: flex;
  &--interactive {
    @include box-shadow(2, $on-dark: true);
    cursor: pointer;
    user-select: none;
  }
}

.preview__canvas {
  border: 1rem solid var(--bg--active);
}

.preview__caption {
  @include animation(from-zero-opacity, $animation-speed--fast);
  background-color: #000d;
  color: white;
  font-family: $font-family--console;
  padding: 0.25rem 1rem;
}
