.projects__container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.portfolio__project {
  @include relief-card;
  color: var(--color--em);
  display: grid;
  min-width: 100%;
  grid-template-areas: "prev prev" "header show-hide" "about show-hide" "details details";
  grid-template-columns: auto min-content;
  > .show-hide__label {
    align-self: flex-end;
    justify-self: right;
    grid-area: show-hide;
  }
  > .show-hide__content {
    grid-area: details;
  }
}

.project__header {
  grid-area: header;
  width: fit-content;
}

.project__title {
  margin-bottom: 0rem;
  margin-right: auto;
  & > a {
    color: var(--color);
    font: inherit;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
    .icon {
      margin-left: 0.5ch;
      svg {
        fill: currentColor;
      }
    }
  }
}

.project__about {
  grid-area: about;
  margin-bottom: 0;
}

.project__details {
  @include border(border-top, 1px);
  grid-area: details;
  margin-top: calc(1rem + 2px);
  padding-top: 1rem;
  > h4 {
    color: var(--color);
  }
}

.project__details > footer {
  @include border(border-top, 1px);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.project__link-container {
  &::after {
    content: ", ";
  }
  &:last-of-type::after {
    content: "";
  }
}
