.projects__elem {
  box-shadow: 0 0 5px $color-c, 0px 2px 3px $color-c;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem;
  & > :first-child {
    margin-top: 0 !important;
  }
}
.projects__elem > h3 {
  display: inline-block;
}
.projects__elem > h3 + em.date {
  color: $color-b;
  float: right;
}

.description {
  border-top: 1px solid $color-d;
  display: none;
  margin-top: 1rem;
  padding-top: 1rem;
  & > :last-child {
    margin-bottom: 0 !important;
  }
}

.old-stack-item {
  width: fit-content;
}

.new-stack-item {
  position: relative;
  width: fit-content;
}
.new-stack-item::before {
  color: $color-b;
  content: "new";
  font-family: monospace;
  font-size: $font-size--extra-small;
  position: absolute;
  right: -1.1rem;
  top: 0px;
}

.custom-chk__chk {
  display: none;
}
.custom-chk__chk:checked + .custom-chk__lbl::before {
  content: "Menos";
}
.custom-chk__chk:checked ~ .description {
  display: block;
}

.custom-chk__lbl {
  color: $color-b;
  cursor: pointer;
}
.custom-chk__lbl:hover,
.custom-chk__lbl:active {
  color: $color-a;
}
.custom-chk__lbl::before {
  content: "Más";
  text-decoration: underline;
}
