.see-more__input {
  display: none;
  &:checked + .see-more__label {
    transform: rotateZ(180deg);
  }
  &:checked ~ .see-more__hidden-block {
    display: block;
  }
}

.see-more__label {
  cursor: pointer;
  user-select: none;
  height: 24px;
  width: 24px;
  & svg {
    fill: $color--ascent;
  }
  & svg:hover,
  & svg:active {
    fill: $color;
    .dark & {
      fill: $color--dark;
    }
  }
}

.see-more__hidden-block {
  display: none;
}
