.see-more__input {
  display: none;
  &:checked + .see-more__label svg {
    transform: rotateZ(-180deg);
  }
  &:checked ~ .see-more__hidden-block {
    display: block;
  }
}

.see-more__label svg {
  transform: rotateZ(0deg);
}

.see-more__hidden-block {
  display: none;
}
