.see-more__input {
  display: none;
  &:checked + .see-more__label {
    transform: rotateZ(0deg);
  }
  &:checked ~ .see-more__hidden-block {
    display: block;
  }
}

.see-more__label {
  @include transition-to-all;
  transform: rotateZ(90deg);
}

.see-more__hidden-block {
  display: none;
}
