.stepper {
  color: $color--ascent;
  min-width: 180px;
  .dark & {
    color: $color--ascent--dark;
  }
  @media screen and (max-width: $media--max-small) {
    & {
      display: none;
    }
  }
}

.stepper h4 {
  padding: 0 1rem;
}

.stepper ul {
  padding-left: 0;
}

.step {
  list-style: none;
}

.step a {
  display: flex;
  box-sizing: border-box;
  color: $color--ascent;
  font-size: $font-size--small;
  text-decoration: none;
  line-height: 2em;
  padding: 0 1rem;
  .dark & {
    color: $color--ascent--dark;
  }
}

.step a:hover,
.step a:active {
  color: $color;
  .dark & {
    color: $color--dark;
  }
}

.step a.step--active {
  color: $color;
  border-left: 0.25rem solid $border-color;
  padding-left: 0.75rem;
  .dark & {
    color: $color--dark;
    border-color: $border-color--dark;
  }
}
