.stepper {
  @include color(ascent);
  place-content: center;
  display: grid;
  min-width: max-content;
  margin: auto 0;
  padding-top: 56px;
  @media screen and (max-width: $media--max-small) {
    & {
      display: none;
    }
  }
}

.stepper__list {
  @include no-style-list;
}

a.step {
  @include color(ascent);
  display: flex;
  line-height: 2em;
  padding: 0 2rem 0 1rem;
  text-decoration: none;
  &:hover,
  &:active {
    @include color;
  }
}

a.step.step--active {
  position: relative;
  @include color;
  &::before {
    @include speed(animation-duration, $animation-speed--medium);
    animation-name: grow-height;
    animation-timing-function: $animation-function;
    background-color: $border-color;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.25rem;
    .dark & {
      background-color: $border-color--dark;
    }
  }
}
