.stepper {
  @include color(ascent);
  display: grid;
  min-width: 180px;
  padding-top: 50%;
  @media screen and (max-width: $media--max-small) {
    & {
      display: none;
    }
  }
}

.stepper__caption {
  font-size: $font-size--small;
  padding: 1em;
}

.stepper > ul {
  padding-left: 0;
}

.stepper > ul > .step {
  list-style: none;
}

.stepper > ul > .step > a {
  @include color(ascent);
  display: flex;
  font-size: $font-size--small;
  text-decoration: none;
  line-height: 2em;
  padding: 0 1em;
}

.stepper > ul > .step > a:hover,
.stepper > ul > .step > a:active {
  @include color;
}

.stepper > ul > .step > a.step--active {
  @include color;
  @include border(border-left, 0.25em);
  padding-left: 0.75em;
}
