.stepper {
  @include color(ascent);
  place-content: center;
  display: grid;
  min-width: max-content;
  margin: auto 0;
  @media screen and (max-width: $media--max-small) {
    & {
      display: none;
    }
  }
}

.stepper__caption {
  padding: 1rem;
}

.stepper__list {
  @include no-style-list;
}

.stepper__item > .step {
  @include color(ascent);
  display: flex;
  text-decoration: none;
  line-height: 2em;
  padding: 0 2rem 0 1rem;
}

.stepper__item > .step:hover,
.stepper__item > .step:active {
  @include color;
}

.stepper__item > .step.step--active {
  @include color;
  @include border(border-left, 0.25rem);
  padding-left: 0.75rem;
}
