/* @keyframes appear {
  from {
    opacity: 0;
  }
} */

.stepper {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  min-width: max-content;
  place-content: center;
}

.stepper__list {
  @include no-style-list;
}

a.step {
  color: inherit;
  display: flex;
  line-height: 2em;
  padding: 1px 2rem 0 1rem;
  text-decoration: none;
  &:hover,
  &:active {
    @include color;
  }
}

a.step.step--active {
  @include color;
  /* position: relative;
  &::before {
    @include animation(appear, $animation-speed--medium);
    content: "";
    height: 1ex;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 1ex;
    .dark & {
    }
  } */
}
