.stepper {
  color: $color--alt;
  height: fit-content;
  position: sticky;
  top: 0;
  width: 180px;
  .dark & {
    color: $color--alt--dark;
  }
  @media screen and (max-width: $media--max-small) {
    & {
      display: none;
    }
  }
}
.stepper h4 {
  padding: 0 1rem;
}
.stepper ul {
  padding-left: 0 !important;
}

.step {
  list-style: none;
}
.step a {
  display: flex;
  box-sizing: border-box;
  color: $color--alt;
  font-size: $font-size--small;
  padding: 0.25rem 0 0.25rem 1rem;
  text-decoration: none;
  .dark & {
    color: $color--alt--dark;
  }
}
.step a.step--active {
  border-left: 0.25rem solid $color--border;
  padding: 0.25rem 0 0.25rem 0.75rem;
  .dark & {
    border-color: $color--border--dark;
  }
}
