.tools__container {
  display: flex;
  flex-wrap: wrap;
  height: min-content;
}

.tools__item {
  //@include plain-card;
  margin: 0.5rem;
  &:last-child {
    margin-bottom: 0.5rem;
  }
  & > ul {
    padding-right: 0.66rem;
  }
}
