.tools__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, min-content);
}

.tools__item {
  @include plain-card;
  margin-bottom: 0;
}

.tools__item > ul {
  padding-right: 0.618rem;
}
