/* .tools__plant {
  @include relief-card;
  align-self: center;
  border-radius: 50%;
  margin-bottom: 0;
  margin-top: 1rem;
  cursor: default;
  font-size: $font-size--big;
  height: 3em;
  width: 3em;
} */

.tools__groups {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tools__group {
  @include base-card;
  color: var(--color--em);
  max-height: min-content;
  &--core {
    @include relief-card;
    color: var(--color);
  }
  h3 {
    color: var(--color);
  }
  .tools__sub-groups {
    display: flex;
    gap: 1rem;
    > ul {
      padding-left: 0;
      margin-bottom: 0;
      &:not(:first-child) {
        border-left: 1px solid var(--color--border);
        padding-left: 1rem;
      }
    }
  }
}

.tools__item {
  color: inherit;
  list-style: none;
}
